body {
  background-color: #444433;
  font-family: verdana;
  margin:0;
  padding:0;
}

/*Combinator example*/
div ~ article {
  background-color:#556655;
}


/*Box Model Example, Outline example*/
header {
  background-color: #abab89;
  color: #000000;
  text-align: center;
  padding: 10px;
  border: 5px solid green;
  outline: 10px black dashed;
  margin: 10px;
  overflow:auto;
}

nav {
  padding: 0px;
  float: left;
  margin: 0;
  overflow:auto;
}

/*Max-width example*/
article {
  background-color: #212121;
  color: #ffffff;
  padding: 20px;
  max-width:600px;
  margin:auto;
}

footer {
  float: left;
  background-color: #afafaf;
  text-align: center;
  width: 100%;
}

.topbutton a:link, .topbutton a:visited {
  background-color:green;
  color: white;
  text-decoration:none;
  padding: 10px;
  border: 3px solid white;
  margin: 20px;
  font-weight:bold;

}

.topbutton a:hover {
  background-color:white;
  color: green;
  border:3px solid green;
  text-decoration:none;
  font-weight:bold;
}

/*Navigation Bar example, Position example, pseudo-class example*/
nav ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  position:fixed;
  background-color: #121212;
  width:100%;
}

/*Float example*/
nav ul li {
  float:left;
  font-size: 15px;
  font-weight:bold;
  text-align:center;  
  border-right:1px solid #434343;
}

nav li:last-child {
  border-right:none;
}

/*Display property example*/
nav ul li a {
  color:white;
  display:block;
  padding:10px;
  text-decoration:none;
}

nav a:hover {
  background-color: #000000;
  color:white;
  padding:10px;
  text-decoration:none;
}

table {
      border: 2px solid white;
      border-collapse: collapse;
      text-align: center;
      margin:10px;
      }

th, td{
      border: 2px solid white;
      padding: 5px;
      }
th {
  background-color:#000000;
  color:white;
}

tr:nth-child(odd) {
  background-color:#afafaf;
  color:black;
}

tr:nth-child(even) {
  background-color:#565656;
}

#toptitle {
  font-family:"Arial Black", Gadget, sans-serif; 
}

#subtitle {
  font-family:"Comic Sans MS", cursive, sans-serif;
}

/*Align example*/
img {
  display: block;
  margin: 0 auto;
}

/*Inline-block example*/
.jeopardy {
    display: inline-block;
    color: yellow;
    margin:2px;
    padding:30px;
    background: darkblue;
    border: 2px solid black;
    font-size:25px;
}

.jeopardy-last {
    display: inline-block;
    color: yellow;
    margin: 2px 2px 40px;
    padding:30px;
    background: darkblue;
    border: 2px solid black;
    font-size:25px;
}

/*Pseudo-Element example*/
h2::first-letter {
  font-size:xx-large;
  color:#cfafff;
  background-color:#121814
}
